{template 'common/header'}

<ul class="nav nav-tabs">
      <li {if $operation == 'rule'} class="active" {/if}><a href="{php echo  $this->createWebUrl('systemlist', array('op'=>'rule'));}">规则设置</a></li>
    <li {if $operation == 'rank'} class="active" {/if}><a href="{php echo  $this->createWebUrl('systemlist', array('op'=>'rank'));}">等级设置</a></li>
     <li {if $operation == 'assign'} class="active" {/if}><a href="{php echo  $this->createWebUrl('systemlist', array('op'=>'assign'));}">分配金额设置</a></li>
     <li class="active"><a href="{php echo  $this->createWebUrl('systemlist', array('op'=>'agreement'));}">用户服务协议设置</a></li>
</ul>
 <div class="main">
    <div class="clearfix">    
   
       <div class="panel panel-default">
            <div class="panel-heading">
                用户服务协议信息
            </div>
            <div class="panel-body">
                 <ul class="nav nav-tabs" id="myTab">
                     <li {if $operation == 'agreement'} class="active" {/if}><a href="{php echo  $this->createWebUrl('systemlist', array('op'=>'agreement'));}">用户服务协议信息</a></li>
                    <li {if $operation == 'agreement_add'} class="active" {/if}><a href="{php echo  $this->createWebUrl('systemlist', array('op'=>'agreement_add'));}">用户服务协议设置</a></li>
                </ul>
                 <form action="./index.php?c=site&a=entry&op=agreement_add&do=systemlist&m=iw_house" method="post">
                        
                       <div class="form-group" style="padding-top: 50px">
                            <label class="col-xs-12 col-sm-3 col-md-2 control-label">用户服务协议内容</label>
                            <div class="col-sm-9">
                             {php echo tpl_ueditor('content');}
                            </div>
                        </div>
                           <div class="form-group" style="position: relative;bottom: -10px">
                                <label class="col-xs-12 col-sm-3 col-md-2 control-label"></label>
                                <div class="col-md-2 col-lg-1">
                                    <input name="submit" type="submit" value="保存" class="btn btn-primary btn-block">
                                    <input type="hidden" name="token" value="85616f84">
                                </div>
                            </div>
                        </form>
</div>
</div>