{template 'common/header'}

<ul class="nav nav-tabs">
      <li><a href="{php echo  $this->createWebUrl('math', array('op'=>'list'));}">推荐人数规则列表</a></li>
     <li class="active"><a href="{php echo  $this->createWebUrl('math', array('op'=>'add'));}">推荐人数规则添加</a></li>
      <li><a href="{php echo  $this->createWebUrl('math', array('op'=>'tisment'));}">广告位信息</a></li>
       <li><a href="{php echo  $this->createWebUrl('math', array('op'=>'tisment_add'));}">广告位信息添加</a></li>
</ul>
<div class="clearfix"> 
    <form id="theform" class="form form-horizontal" action="./index.php?c=site&a=entry&op=add&do=math&m=iw_house" method="post">
	
        <div class="panel panel-default">
            <div class="panel-heading">
                推荐人数规则添加
            </div>
            <div class="panel-body">
                
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">最大的推荐客户数量</label>
                    <div class="col-sm-9 col-xs-12">
                        <input type="number" name="client" id="client" value="" class="form-control">
                    </div>
                </div>
                 <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">最大的推荐联系人数量</label>
                    <div class="col-sm-9 col-xs-12">
                        <input type="number" name="person" id="person" value="" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label"></label>
                    <div class="col-md-2 col-lg-1">
                        <input name="submit" type="submit" value="保存" class="btn btn-primary btn-block">
                        <input type="hidden" name="token" value="85616f84">
                    </div>
                </div>
				
            </div>
			
        </div>
    </form>
</div>